<div class="centralized">
    <div class="child"><h2>Obrigado pelo anúncio!</h2></div>
    <div class="child"><img src="obrigado12.svg" width="400px" height="300px"></div>
    <div class="child"><h2>Em breve você receberá atualizações</h2></div>
</div>