<div class="centralized">
    <div class="child"><h2>Obrigado por comprar conosco!</h2></div>
    <div class="child"><img src="obrigado 13.svg" alt="sol"></div>
    <div class="child">
        <p>   Entre em contato com o vendedor ou consco caso haja algum problema.</p>
        <p>   Telefone administrativo do FotonLive: +55 31 97100-8300</p>
    </div>
</div>