<h2>O que deseja vender?</h2>
<form method="POST" class="oi16">
    <div>
        <label class="field">
            <div>Quantidade de paineis: </div>
            <input type="text">
        </label>
    </div>

    <div>
        <label class="field">
            <div>Preço por painel (BRL): </div>
            <input type="text">
        </label>
    </div>

    <div>
        <label class="field">
            <div>E-mail para contato: </div>
            <input type="text">
        </label>
    </div>
    <div>ㅤ</div>
    <a href="/dados" class="button">Confirmar</a>
</form>