<h2>Sua conta</h2>

<div>
    <div>
        <h2>Dados da conta:</h2>
        <div>Produção diaria:</div>
        <div>Gasto diario:</div>
        <div>Desconto na conta:</div>
    </div>

    <div>
        <h2>Dados Pessoais:</h2>
        <div>Nome:</div>
        <div>E-mail:</div>
        <div>Endereço:</div>
    </div>

    <div>
        <a href="/comprar">Comprar agora</a>
    </div>
</div>