
<div class="centralize">
    <h2>Sua conta</h2>
    <div>
        <h2>Dados da conta:</h2>
        <div>Produção diaria: (Adicionaremos cookies no futuro)</div>
        <div>Gasto diario: (Adicionaremos cookies no futuro)</div>
        <div>Desconto na conta: (Adicionaremos cookies no futuro)</div>
    </div>

    <div>
        <h2>Dados Pessoais:</h2>
        <div>Nome: (Adicionaremos cookies no futuro)</div>
        <div>E-mail: (Adicionaremos cookies no futuro)</div>
        <div>Endereço: (Adicionaremos cookies no futuro)</div>
    </div>
    <div>ㅤ</div>
    <div>
        <a class="button" href="/comprar">Comprar agora</a>
    </div>
</div>