<ul class="list-group">
    <h2>Dados da conta: </h2>
  <li class="list-group-item">Total de painéis alugados: </li>
  <li class="list-group-item">Total energético vendido: </li>
  <li class="list-group-item">Total monetário arrecadado: </li>
</ul>

<ul class="list-group">
    <h2>Dados pessoais: </h2>
  <li class="list-group-item">Total de painéis alugados: </li>
  <li class="list-group-item">Total energético vendido: </li>
  <li class="list-group-item">Total monetário arrecadado: </li>
</ul>
<div>ㅤ</div>
        <a class="button" href="/anuncio">Anunciar agora</a>