<h2>Dados bancarios: </h2>
<form method="POST" class="oi16">
    <div>
        <label class="field">
            <div>Nome do banco: </div>
            <input type="text">
        </label>
    </div>

    <div>
        <label class="field">
            <div>Agência: </div>
            <input type="text">
        </label>
    </div>

    <div>
        <label class="field">
            <div>Conta corrente</div>
            <input type="text">
        </label>
    </div>

    <div>
        <label class="field">
            <div>chave pix (opcional):</div>
            <input type="text">
        </label>
    </div>
    <div>.</div>
    <a class="button" href="/agradecimento_anuncio">Confirmar</a>
</form>