<div class="initial-container">

    <div class="initial-content">
        <h1>
            Ganhe dinheiro vendendo e
            comprando energia
        </h1>

        <img src="inicio-image.png" width="350px" height="160px" alt="painel solar">
    </div>

    <div class="initial-content">
        <div class="initial-info">
            <img width="70px" height="65px" src="aperto_mao.svg" alt="aperto de mão">

            <p>
                A energia vinda dos raios solares nunca foi tão acessível! Agora é possível comprar e vender energia solar com apenas alguns cliques!
            </p>
        </div>

        <div class="initial-info">
            <p>
                Venda a produção de seus painéis solares  ou compre a produção dos painéis de outros estimulando a produção de energia
renovável.
            </p>

            <img width="70px" height="65px" src="abraco.svg" alt="abraco.svg">
        </div>

        <div class="initial-info">
            Não perca tempo e se cadastre.
O sol é o limite!
        </div>
    </div>
</div>
<a href="login">Entrar</a>
