
    <form method="POST" action="/login">

        <div class="container-login">
            <div class="child">
                <img src="login-img.svg" width="400" height="250" >
            </div>

            <div class="oi16">
                <h1>Log-in</h1>
                <div>
                    <label>
                        <h2>E-mail:</h2>
                        <input required name="email" type="email">
                    </label>
                </div>

                <div>
                    <label>
                        <h2>Senha:</h2>
                        <input required name="password" type="password">
                    </label>
                </div>
                <div>ㅤ</div>
                <button class="button">Confirmar</button>
                <div>
                    Não tem uma conta?
                <a href="cadastro">Cadastre-se</a>
                </div>
            </div>
        </div>
    </form>
