<ul class="list-group">
    <h2>Informações do vendedor: </h2>
  <li class="list-group-item">Nome: Lucas Passeado</li>
  <li class="list-group-item">Localização: Tecnopólis</li>
  <li class="list-group-item">Contato: +55 31 99592-0239</li>
  <li class="list-group-item">Agencia: 4090</li>
  <li class="list-group-item">Conta corrente: 5.719-3</li>
  <li class="list-group-item">Chave pix: Nenhuma</li>
  <li class="list-group-item">Preço: R$160,00</li>
</ul>
<div>ㅤ</div>
<a class="button" href="/agradecimento_compra">Confirmar</a>